---
Diagnostics:
  Suppress:
    - unused-includes
  UnusedIncludes: Strict
  
Index:
  Background: Build

InlayHints:
  Enabled: True
  ParameterNames: True
  DeducedTypes: True
  Designators: True

Completion:
  AllScopes: False

Hover:
  ShowAKA: True