---
Diagnostics:
  Suppress:
    - unused-includes
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - modernize-*
      - bugprone-*
      - performance-*
    Remove:
      - modernize-use-trailing-return-type
    CheckOptions:
      modernize-loop-convert.MinConfidence: reasonable

Index:
  Background: Build

InlayHints:
  Enabled: True
  ParameterNames: True
  DeducedTypes: True
  Designators: True

Completion:
  AllScopes: False

Hover:
  ShowAKA: True